@import "style/DetailActor.scss";

.text {
  color: red;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:200');
html, body {
  scroll-behavior: smooth;
}

body {
  background-image: url("img/image.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  backdrop-filter: blur(5px);
}

.display {
  padding: 220px;
  display: flex;
  justify-content: center;

}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
}

.gradient-border {
  --borderWidth: 558px;
  height: 400px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  //border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;

}


@keyframes animatedgradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


.blur-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.78);
}
.modal {
  position: fixed;
  width: 50%;
  left: 25%;
  top: 5%;
  display: flex;
  justify-content: space-between;
  transition: .2s;
  background-image: url("img/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  backdrop-filter: blur(5px);

  &-items {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 20px;

    &--close {
      font-size: 2rem;
      cursor: pointer;
      width: 100%;
      text-align: end;
    }
  }
}

input {
  margin: 10px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#header {
  background: #000000;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: .9;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-nav {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      a {
        margin: 0 15px;
        color: white;
        font-family: 'IBM Plex Sans', sans-serif;
        text-decoration: none;
        font-size: 1.1rem;
        transition: .3s;

        &:hover {
          background: rgba(229, 13, 13, 0.73);
          padding: 5px 10px;
          border-radius: 10px;
        }
      }
    }

    &-buttons {
      select {
        background: #070707;
        color: white;
        border: black;

      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  button {
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid #40AB7E;
    background: transparent;
    color: #40AB7E;
    margin: 0 5px;

    &:hover {
      background: #40AB7E;
      color: #070707;
    }
  }
}

#movies {
  padding: 50px 0;

  .movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-card {
      margin: 20px;
      border: 2px solid gray;
      width: 18.3%;



      &-titles {
        padding: 0 20px;

        h4 {
          color: white;
        }

        h5 {
          color: white;
        }
      }
    }
  }
}

.pagination-btn {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  button {
    background: #40AB7E;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
  }
}

#detail {
  padding: 50px;
  position: relative;



  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.81);
    z-index: 0;

  }

  .detail {
    display: flex;
    align-items: start;
    position: relative;
    z-index: 3;



    &-img {
      -webkit-box-shadow: 0 0 8px 6px rgb(4, 4, 75);
      -moz-box-shadow: 0 0 8px 6px rgb(4, 20, 63);
      box-shadow: 0 0 8px 6px rgb(3, 3, 110);
      position: relative;
      transition: .7s;
      cursor: grab;

      &:hover:before {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        position: absolute;
        content: '※ Расширить';
        width: 100%;
        height: 100%;
        backdrop-filter: blur(6px);
        background: rgba(0, 0, 0, 0.58);
        transition: .7s;

      }

      &:hover {
        box-shadow: none;

      }
    }

    &-desc {
      margin-left: 10%;
    }

    &-vote {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      border: 5px solid #5ef806;

    }
  }
}

#actors {
  padding: 10%;

  .actors-card {
    margin: 0 20px;
    color: white;
  }
}


#videos {
  padding-bottom: 8%;
}

.search-movies {
  input {
    background: black;
    padding: 5px 10px;
    font-size: 20px;
    border: 2px solid darkgrey;
    outline: none;
    border-radius: 10px;
    margin: 0 10px;
    color: white;

  }

  button {
    background: black;
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    border:2px solid red;
    outline: none;
    border-radius: 10px;
    transition: .2s;

    &:hover {
      background: red;
      border: 2px solid red;
      color: white;
    }
  }
}

